@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
/* criar icon para br e modo noturno */
* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

header {
  background-color: #e2dfdf;
  box-sizing: border-box;
}

/* static logo */
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5re 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  color: #fff
}

.nav-list {
  display: flex;
  align-items: center;

}

/* links */
.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

/* link color */
.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #0e0e0e;
  font-weight: 400;
}

/* (ocultando links) */
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* responsividade */
@media screen and (max-width: 730px) {
  .nav-bar {
      padding: 1.5rem 4rem;
  }

  /* moving links to menu */
  .nav-item {
      display: none;
  }

  /* menu movable */
  .mobile-menu-icon {
      display: block;
  }

  /*style*/
  .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }

  
  /* vertical links within menu */
  .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
  }

  /* display icons individually within the menu */
  .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
  }

  .open {
      display: block;
  }
}
