@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
:root {
  --color-black: #191919;
  --color-purple: ##7216f4;
  --color-pink: #f9e1cf;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
