.slide-box {
  background: radial-gradient(
    ellipse at bottom,
    #420fa1 0%,
    rgb(108, 161, 214) 100%
  );
  background-size: 500% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 14rem;
  animation: background-degrade1 11s linear infinite alternate;
  width: 25%;
  border-radius: 4px;
  transition: 1s;
}

#slide2 {
  background: radial-gradient(
    ellipse at bottom,
    #a233fd 0%,
    #788be7 100%
  ) !important;
  animation: background-degrade2 1s linear infinite alternate !important;
}

#animate-text2 {
  background: linear-gradient(45deg, #252525, #e1e9e8, #009688, #232424);
  font-family: 'Montserrat', sans-serif;
  background-size: 400% 100%;
  animation: text-degrade2 10s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#slide3 {
  background: radial-gradient(
    ellipse at bottom,
    #fd33ca 0%,
    #788be7 100%
  ) !important;
  animation: background-degrade3 4s linear infinite alternate !important;
}

#animate-text3 {
  background: linear-gradient(45deg, #78c9c9, #e1e9e8, #009688, #68c9c9);
  font-family: 'Montserrat', sans-serif;
  background-size: 400% 100%;
  animation: text-degrade3 10s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.slider {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.slider-content {
  display: flex;
  width: 400%;
}

.slider-content input {
  display: none;
}

.slide-box h2 {
  text-align: center;
  align-items: center;
  font-size: 2rem;
  color: aliceblue;
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 1rem;
}

.nav-manual,
.nav-auto {
  position: absolute;
  width: 100%;
  margin-top: 27%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav-manual .manual-btn,
.nav-auto div {
  display: none;
  border: 0.5px solid #3f5a79;
  padding: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms;
}

.manual-btn:hover {
  background-color: #3f5a79;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
  background-color: #3f5a79;
}
#radio2:checked ~ .nav-auto .auto-btn2 {
  background-color: #3f5a79;
}
#radio3:checked ~ .nav-auto .auto-btn3 {
  background-color: #3f5a79;
}

#radio1:checked ~ .first {
  margin-left: 0%;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}

.animate-text {
  background: linear-gradient(45deg, #00e3cc, #28b6a8, #187269, #44e3d3);
  font-family: 'Montserrat', sans-serif;
  background-size: 400% 100%;
  animation: text-degrade1 7s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes text-degrade1 {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 400%;
  }
}
@keyframes text-degrade2 {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 400%;
  }
}
@keyframes text-degrade3 {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 400%;
  }
}

@keyframes background-degrade1 {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 400%;
  }
}
@keyframes background-degrade2 {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 400%;
  }
}
@keyframes background-degrade3 {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 400%;
  }
}
