.rail {
  width: 2.7rem;
  height: 1.4rem;
  background-color: #2b2a2a;
  border-radius: 7px;
  position: relative;
  cursor: pointer;
}

.indicator {
  width: 1.2rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: aliceblue;
  transform: scale(0.9);
  position: absolute;
  left: 0;
  transition: 450ms;
}

.rail.dark {
  background-color: #b9b8b8;
}

.rail.dark .indicator {
  left: 1.4rem;
  background-color: #232323;
}

body.dark {
  background: #242424;
}

.text-logo.dark {
  color: aliceblue;
}

.nav-link.dark {
  color: aliceblue;
}

.nav-bar.dark {
  background-color: #111;
}

.dropdown-menu a.dark {
  color: #111;
}
